<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <h2>Name and Designation</h2>
  <br>
  <label>
    Name:
    <input type="text" formControlName="Name">
  </label>
  <br>
  <br>
  <label>
    Designation:
    <input type="text" formControlName="Designation">
  </label>
  <br>
  <h2>Employee Address</h2>
  <label>
    Country:
    <input type="text" formControlName="country">
  </label>
  <br>
  <br>
  <label>
    City:
    <input type="text" formControlName="city">
  </label>
</form>

<!-- <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()"></form> -->
<br>

<button type="submit">Submit</button>
